1.In the below elements which of them are values or an expression? 

eg:- values can be
integer or string and expressions will be mathematical operators.

*
'hello'
- 87.8
-
/
+
6


Answer :
Following are operators:
 *,-,/,+
Following are values:
  'hello', -87.8, 6

2.What is the difference between string and variable?

Answer:

Variable

-Variable is a name given to the memory location where the values is stored in the memory.
-Variables are containers for storing data value, a python variable can take any values like int, float or string. 
    Example A = 23, B = 23.5, Name = 'Bhanu'

String

-String represents a text value enclosed with in two double quotes or two single quotes. 
    Example "Atul", "Sharma"

3.Describe three different data types.

Answer:

-int - A positive or negative whole number without a decimal point. 
Example  a = 10

-floating point numbers - A positive or negative whole number with a decimal point.
Example b = 10.5


-string - any text with in two single or double quotes. 
Example c = 'Atul555'

In [1]:
a = 10
type(a)

int

In [2]:
b = 10.5
type(b)

float

In [3]:
c = 'Atul555'
type(c)

str

4.What is an expression made up of? What do all expressions do?

Answer:
    
An expression is made up  of operators and operands that is interpreted to produce some other value.
hence expressions perform operation of variable based on the operators and evaluates the values to a single variable.

#variables 
a = 10
b = 20

#The expression - sum
c = a + b

c = 10 + 20
c = 30

5.This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

Answer:

Expressions

An expression evaluates to some value.
All expressions have types. "Hello World" is a string, 5 + 7 is an integer.

Examples: 

"Hello World"
1000
5 + 3

Statements
A statement performs some action.


Examples
print("Hello World")
sleep(1000)

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1


Answer:

becon will still have value 22.

The becon is assinged with 22, but becon + 1 is not reassigned to becon again like, becon= becon + 1. So the value of becon is not changed.

In [5]:
bacon = 22
c = bacon + 1
print('c = ',c)
print('bacon = ',bacon)

c =  23
bacon =  22

7.What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

Answer: Both outputs 'spamspamspam'`

In [6]:
'spam'+'spamspam'

'spamspamspam'

In [7]:
'spam'*3

'spamspamspam'

8.Why is eggs a valid variable name while 100 is invalid?

Answer:
-Variable name can not starts with numbers.

In [8]:
eggs = 10
eggs

10

In [9]:
100 = "hundreds"
100

SyntaxError: cannot assign to literal (1670676310.py, line 1)

9. What three functions can be used to get the integer, floating-point number, or string version of a value?

Answer: 

The following functions
- int()
- float()
- str()  will convert the values of integer, float or string versions of the values passed to it.

10.Why does this expression cause an error? How can you fix it? 'I have eaten ' + 99 + ' burritos.'

Answer:

-This will error out since string concatination with interger values can not be performed.
This can be fixed by converting 99 into string by str(99)

In [10]:
'i have eaten' + 99 + 'burritos'

TypeError: can only concatenate str (not "int") to str

In [11]:
'i have eaten ' + str(99) + ' burritos.'

'i have eaten 99 burritos.'